header {
    min-width: 300px;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: warp;
    z-index: 1000;
    background-color: rgb(197, 198, 202);
    color: black;
    margin-bottom: 2rem;
}

body {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 0rem 1rem 1rem 1rem;
    font-family: sans-serif;
    background: #fff;
    color: #111;
    min-width: 300px;
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}

h1 {
    font-size: 2.2rem;
    margin-top: 0;
    margin-bottom: 0.2rem;
    text-align: center;
}

h2 {
    color: #111;
    margin-top: 2rem;
    text-align: center;
}

.publish {
    display: flex;
    justify-self: center;
    margin-bottom: 1rem
}

.title {
    margin-bottom: 1rem;
}

.author-list {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.5rem
}

.institution-list {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.5rem
}

.link-list {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.5rem
}

.text {
    margin-top: 2rem;
    text-align: justify;
}

.abstract {
    margin-top: 2rem;
}

.acquisition-setup img {
    max-width: 100%;
}
.teaser img {
    max-width: 100%;
}

#header-page {
    margin-right: 1rem;
}

img {
    user-drag: none;          
    -webkit-user-drag: none;
    user-select: none;
    pointer-events: none;
}

#polar-image-list {
    position: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.polar-image-controller {
    display: flex;
    position: relative;
    max-width: 500px;
    margin: 0 auto;
    justify-content: space-between;
}

.polar-image-container button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2.2rem;
    height: 2.2rem;
    background-color: #DDD;
    border: 0;
    border-radius: 50%;
    margin: auto 0;
    font-size: 1.2rem;
}

.polar-image-container button:hover {
    background-color: #999;
}

.prev {
    left: 1rem;
}

.next {
    right: 1rem;
}

.polar-image-name {
    position: relative;
    width: max-content;
    margin: 0 auto;
    font-weight: bold;
}

.polar-image-container {
    position: relative;
    max-width: 500px;
    max-height: 500px;
    margin: 0 auto;
}

.polar-image { display: none; position: relative; max-width: 500px; max-height: 500px; width: 100%; height: 100% }
.polar-image.active { display: flex; }
.polar-image .srgb {position: relative}
.polar-image .aolp { position: absolute; inset: 0; }
.polar-image .dop { position: absolute; inset: 0; }
.polar-image .top { position: absolute; inset: 0; }
.polar-image img { width: 100%; height: auto; display: block; }

.slider-vertical   { position: absolute; top: 0; width: 3px; height: 100%; background: #222; }
.slider-horizontal { position: absolute; left: 0; height: 3px; width: 100%; background: #222; }
.slider-handle { 
    position: absolute;
    width: 23px;
    height: 23px;
    background: #DDD;
    border-radius: 30%;
    border: 3px solid #222;
}

.polar-image-thumbnail-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.thumbnail img {
    max-width: 98px;
    max-height: 98px;
}
.thumbnail {
    max-width: 98px;
    max-height: 98px;
    margin: 1px;
}
.thumbnail.active {
    outline: 2px solid #F00;
}

.sub {
    font-size: 0.95rem;
    color: #555;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
