body {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 0rem 1rem 1rem 1rem;
    font-family: sans-serif;
    background: #fff;
    color: #111;
    min-width: 300px;
    max-width: 760px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}
  
header {
    margin-bottom: 2rem;
}
  
h1 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0.2rem;
}
    
h2 {
    color: rgb(200, 1, 80);
    margin-top: 2rem;
}

.news, .education, .publication, .patent {
    margin-bottom: 1.5rem;
}

.publication-title, .project-title, .patent-title, .news-date, .education-title, .work-title {
    font-weight: bold;
}

#header-page {
    margin-right: 1rem;
}

header {
    min-width: 300px;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: warp;
    z-index: 1000;
    background-color: rgb(197, 198, 202);
    color: black;
}

.photo-with-text {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 1rem;
    flex-wrap: wrap;
}

.photo {
    flex: 1;
    min-width: 200px;
}

.photo img {
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#profile img {
    max-width: 200px;
}

.text {
    flex: 2;
    min-width: 250px;
}

.educations {
    margin-bottom: 1.5rem
}

.sub {
    font-size: 0.95rem;
    color: #555;
}

a {
    color: inherit;
    text-decoration: underline;
}

a .header-page {
    text-decoration: none;
}

@media (max-width: 450px) {
    .publication-array {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (min-width: 451px) {
    .publication-array {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}
